.editUsersSearch__wrapper {
  display: flex;
  background: var(--color-primary-700);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.editUsersSearch__input {
  flex-grow: 1;
  padding: var(--padding-secondary-300) var(--padding-secondary-400);
  border-top-left-radius: var(--border-radius-300);
  border: 2px solid transparent;
  outline: none;
  background: var(--color-primary-800);
  font-weight: var(--font-weight-500);
  transition: border 0.5s ease-in-out;
}

.editUsersSearch__input::placeholder {
  color: var(--color-neutral-hover-900);
}

.editUsersSearch__input:focus-visible {
  border: 2px solid var(--color-primary-700);
}

.editUsersSearch__button {
  display: grid;
  place-items: center;
  padding: var(--padding-secondary-500) var(--padding-secondary-500);
  background-color: var(--color-primary-700);
  transition: background-color 0.2s ease-in-out;
}

.editUsersSearch__button:hover,
.editUsersSearch__button:focus-visible {
  background-color: var(--color-primary-600);
}

.editUsersSearch__icon {
  width: 20px;
  height: 20px;
}
