/* Animations */

/* Shrinks elasticly then comes back to it's shape. */
@keyframes animateUploadButton {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.95);
  }
  20% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(0.97);
  }
  40% {
    transform: scale(1.03);
  }
  50% {
    transform: scale(1);
  }
}

/* Image upload modal toggler */
#imageUpload__modalOpenButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: grid;
  place-items: center;
  background-color: var(--color-primary-800);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  box-shadow: 2px 3px 8px var(--color-neutral-900);
  transition: all 0.2s ease-out;
  z-index: 200;
}

#imageUpload__modalOpenButton:hover {
  transform: scale(1.05);
}

#imageUpload__modalOpenButton.active .imageUpload__modalOpenButtonIcon {
  transform: rotate(45deg);
}

.imageUpload__modalOpenButtonIcon {
  fill: var(--color-neutral-100);
  width: 25px;
  height: 25px;
  transition: all 0.2s ease-in-out;
}

/* Image upload modal */
#imageUpload__backgroundDarkener {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  padding: var(--padding-primary-400);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  backdrop-filter: blur(10px);
}

#imageUpload__modal {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 600px;
  padding: var(--padding-primary-400);
  background-color: var(--color-primary-900);
  border-radius: var(--border-radius-300);
}

/* Image form */
#imageUploadModal__imageForm {
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  height: 100%;
  padding: var(--padding-primary-400);
  border-radius: var(--border-radius-300);
}

#imageUploadModal__imageDescInput,
#imageUploadModal__imageHashtagsTextarea {
  width: 100%;
  padding: var(--padding-primary-300) var(--padding-primary-200);
  border-radius: var(--border-radius-300);
  background: var(--color-primary-600);
  color: var(--color-neutral-100);
  font-size: var(--font-size-150);
  font-weight: var(--font-weight-600);
  letter-spacing: 0.4px;
  border: none;
  box-shadow: 0 0 5px var(--color-neutral-700);
}

#imageUploadModal__imageHashtagsTextarea {
  resize: none;
  overflow-y: auto;
  line-height: 1.4;
  min-height: 200px;
}

/* Textbar scrollbar styles */
#imageUploadModal__imageHashtagsTextarea::-webkit-scrollbar {
  width: 10px;
}

#imageUploadModal__imageHashtagsTextarea::-webkit-scrollbar-track {
  background: var(--color-neutral-700);
  border-radius: inherit;
}

#imageUploadModal__imageHashtagsTextarea::-webkit-scrollbar-thumb {
  background: var(--color-neutral-900);
  border-radius: 10px;
}

#imageUploadModal__imageDescInput:focus,
#imageUploadModal__imageHashtagsTextarea:focus {
  outline: 1px solid var(--color-neutral-200);
}

#imageUploadModal__imageDescInput::placeholder,
#imageUploadModal__imageHashtagsTextarea::placeholder {
  color: var(--color-neutral-400);
}

#imageUploadModal__imageInputLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: var(--padding-secondary-200) var(--padding-primary-200);
  border-radius: var(--border-radius-300);
  background: var(--color-neutral-100);
  cursor: pointer;
}

#imageUploadModal__imageInputLabel:hover {
  filter: brightness(1.05);
}

#imageUploadModal__imageInputLabel:focus {
  outline: 1px solid var(--color-neutral-200);
}

#imageUploadModal__imageInputLabel input {
  display: none;
}

.imageUploadModal__imageInputLabelIcon {
  fill: var(--color-secondary-600);
  width: 25px;
  height: 25px;
}

.imageUploadModal__imageInputLabelText {
  font-weight: var(--font-weight-600);
  color: var(--color-secondary-600);
}

/* Hashtags notice */
.imageUploadModal__notice {
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-100);
  color: var(--color-neutral-300);
  letter-spacing: 0.4px;
  line-height: 1.2;
}

.imageUploadModal__notice.active {
  color: var(--color-warning-700);
}

.imageUploadModal__infoText {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-500);
  color: var(--color-neutral-hover-600);
}

.imageUploadModal__infoIcon {
  color: var(--color-neutral-hover-600);
  width: 30px;
  height: 30px;
}

.imageUploadModal__imageUploadButton {
  padding: var(--padding-primary-200);
  border-radius: var(--border-radius-300);
  background: var(--color-secondary-700);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-150);
  border: 1px solid var(--color-secondary-700);
  transition: background 0.5s ease-in-out, border 0.5s ease-in-out;
}

.imageUploadModal__imageUploadButton:hover {
  filter: brightness(1.05);
}

.imageUploadModal__imageUploadButton:disabled {
  background: var(--color-secondary-hover-700);
  cursor: not-allowed;
}

.imageUploadModal__imageUploadButton.uploading {
  background: var(--color-secondary-700);
  border: 1px solid var(--color-secondary-800);
  pointer-events: none;
}

.imageUploadModal__imageUploadButton.success {
  background: var(--color-success-700);
  border: 1px solid var(--color-success-800);
  animation: animateUploadButton 1.5s ease-in-out 1 alternate;
  pointer-events: none;
}

.imageUploadModal__imageUploadButton.error {
  background: var(--color-danger-700);
  border: 1px solid var(--color-danger-800);
  animation: animateUploadButton 1.5s ease-in-out 1 alternate;
  pointer-events: none;
}

/* Image preview container */
#imageUploadModal__imagePreviewContainer {
  position: relative;
  flex: 1;
  border: 2px dashed var(--color-primary-hover-300);
  border-radius: var(--border-radius-300);
  overflow: hidden;
}

#imageUploadModal__imagePreviewContainer::before {
  inset: 0;
  content: "Image preview";
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: var(--color-primary-hover-300);
  letter-spacing: 0.4px;
  opacity: 0.4;
}

@media only screen and (max-width: 768px) {
  #imageUpload__modalOpenButton {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 50px;
    height: 50px;
  }

  .imageUpload__modalOpenButtonIcon {
    fill: var(--color-neutral-100);
    width: 22px;
    height: 22px;
    transition: all 0.2s ease-in-out;
  }
}
