.imageModal__wrapper {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: var(--padding-primary-400) var(--padding-primary-400);
  backdrop-filter: blur(10px);
  z-index: 999;
  overflow: auto;
}

.imageModal__container {
  position: relative;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: var(--color-primary-900);
  border: 2px solid var(--color-primary-600);
  border-radius: var(--border-radius-300);
  overflow: hidden;
}

.imageModal__imageWrapper {
  display: grid;
  place-items: center;
  background: var(--color-primary-800);
  padding: var(--padding-secondary-500);
  max-height: 80vh;
}

.imageModal__container__closeButton {
  position: absolute;
  top: var(--padding-secondary-500);
  right: var(--padding-secondary-500);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background: var(--color-primary-700);
  border: 1px solid var(--color-primary-600);
  border-radius: 50%;
  transition: background 0.2s ease-in-out;
}

.imageModal__container__closeButton:hover,
.imageModal__container__closeButton:focus-visible {
  background: var(--color-primary-600);
}

.imageModal__imageContainer {
  border-radius: var(--border-radius-200);
  overflow: hidden;
}

.imageModal__image {
  max-height: 500px;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
  object-fit: contain;
}

.imageModal__infoContainer {
  display: flex;
  gap: 20px;
  height: 100%;
  padding: var(--padding-secondary-500);
}

.imageModal__infoContainer__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.imageModal__infoContainer__main__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
}

.imageModal__infoContainer__main__info__main {
  display: flex;
  align-items: center;
  gap: 8px;
}

.imageModal__infoContainer__main__info__main__userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.imageModal__infoContainer__main__info__main__title {
  font-size: var(--font-size-25y0);
  font-weight: var(--font-weight-700);
  color: var(--color-neutral-200);
}

.imageModal__infoContainer__main__info__main__date {
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-400);
  color: var(--color-neutral-300);
  padding: var(--padding-secondary-200) var(--padding-secondary-300);
  background: var(--color-primary-700);
  border: 1px solid var(--color-primary-600);
  border-radius: var(--border-radius-100);
}

.imageModal__infoContainer__main__info__description {
  max-width: 80%;
  font-size: var(--font-size-150);
  font-weight: var(--font-weight-400);
  color: var(--color-neutral-300);
}

.imageModal__infoContainer__main__info__hashtagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.imageModal__infoContainer__main__info__hashtagsContainer__hashtag {
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-500);
  letter-spacing: 0.4px;
  color: var(--color-neutral-300);
  padding: var(--padding-secondary-100) var(--padding-secondary-200);
  background: var(--color-primary-900);
  border: 1px solid var(--color-primary-600);
  border-radius: var(--border-radius-100);
}

.imageModal__infoContainer__main__propertiesContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imageModal__infoContainer__main__propertiesContainer__properties {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.imageModal__infoContainer__main__properties__title {
  font-size: var(--font-size-150);
  font-weight: var(--font-weight-700);
  color: var(--color-neutral-200);
}

.imageModal__infoContainer__main__propertiesContainer__properties__property {
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-400);
  color: var(--color-neutral-300);
  padding: var(--padding-secondary-100) var(--padding-secondary-200);
  background: var(--color-primary-700);
  border: 1px solid var(--color-primary-600);
  border-radius: var(--border-radius-100);
}

.imageModal__infoContainer__aside {
  display: flex;
  flex-direction: column;
}

.imageModal__infoContainer__aside__userActions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imageModal__infoContainer__aside__userActions__editContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imageModal__infoContainer__aside__userActions__button {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-primary-600);
  border-radius: 50%;
  background: var(--color-primary-700);
  transition: background 0.2s ease-in-out;
}

.imageModal__infoContainer__aside__userActions__button.confirm {
  border: 1px solid var(--color-success-700);
}

.imageModal__infoContainer__aside__userActions__button:hover,
.imageModal__infoContainer__aside__userActions__button:focus-visible {
  background: var(--color-primary-600);
}

.imageModal__infoContainer__aside__userActions__button__icon {
  width: 20px;
  height: 20px;
  color: var(--color-neutral-200);
}

.imageModal__infoContainer__aside__userActions__button__icon.cancel {
  color: var(--color-danger-400);
}

.imageModal__infoContainer__aside__userActions__button__icon.confirm {
  color: var(--color-success-500);
}

/* While editing */

#imageUploadModal__imageDescInput,
#imageUploadModal__imageHashtagsTextarea {
  width: 100%;
  padding: var(--padding-primary-300) var(--padding-primary-200);
  border-radius: var(--border-radius-300);
  background: var(--color-primary-600);
  color: var(--color-neutral-100);
  font-size: var(--font-size-150);
  font-weight: var(--font-weight-600);
  letter-spacing: 0.4px;
  border: none;
  box-shadow: 0 0 5px var(--color-neutral-700);
}

#imageUploadModal__imageHashtagsTextarea {
  resize: none;
  overflow-y: auto;
  line-height: 1.4;
  min-height: 150px;
}

/* Textbar scrollbar styles */
#imageUploadModal__imageHashtagsTextarea::-webkit-scrollbar {
  width: 10px;
}

#imageUploadModal__imageHashtagsTextarea::-webkit-scrollbar-track {
  background: var(--color-neutral-700);
  border-radius: inherit;
}

#imageUploadModal__imageHashtagsTextarea::-webkit-scrollbar-thumb {
  background: var(--color-neutral-900);
  border-radius: 10px;
}

#imageUploadModal__imageDescInput:focus,
#imageUploadModal__imageHashtagsTextarea:focus {
  outline: 1px solid var(--color-neutral-200);
}

#imageUploadModal__imageDescInput::placeholder,
#imageUploadModal__imageHashtagsTextarea::placeholder {
  color: var(--color-neutral-400);
}

/* Hashtags notice */
.imageUploadModal__notice {
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-100);
  color: var(--color-neutral-300);
  letter-spacing: 0.4px;
  line-height: 1.2;
}

.imageUploadModal__notice.active {
  color: var(--color-warning-700);
}
