/* keyframes that rotates button icon left and right fast */
@keyframes rotateLeft {
  0% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}

.editAccountContainer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--color-primary-900);
  padding: var(--padding-primary-300);
  border-radius: var(--border-radius-300);
  overflow: hidden;
}

.editAccountContainer__title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: var(--font-size-150);
  font-weight: var(--font-weight-500);
  background: linear-gradient(to right, var(--color-secondary-700), var(--color-secondary-800));
  padding: var(--padding-secondary-200) var(--padding-secondary-400);
}

.editAccountContainer__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: var(--margin-primary-700);
  padding: var(--padding-primary-300);
}

.editAccountContainer__item {
  background: var(--color-primary-800);
  border: 2px solid var(--color-secondary-hover-400);
  border-radius: var(--border-radius-300);
  padding: var(--padding-primary-300) var(--padding-primary-400);
}

.editAccountContainer__item__title {
  position: relative;
  margin-left: 8px;
  padding-left: 2px;
  margin-bottom: var(--margin-secondary-600);
  font-size: var(--font-size-150);
  font-weight: var(--font-weight-500);
}

.editAccountContainer__item__title::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;
  bottom: 0;
  width: 3px;
  background: var(--color-success-500);
  border-radius: var(--border-radius-300);
}
