/* Animations */

/* Shining effect from left to right */
@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

#registerWrapper {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  padding: var(--padding-primary-700);
}

.register__formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 450px;
  padding: var(--padding-primary-500);
  border-radius: var(--border-radius-400);
  background: var(--color-neutral-700);
}

.register__message {
  color: var(--color-neutral-400);
}

.register__warningMessage {
  color: var(--color-warning-900);
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-600);
  padding: var(--padding-secondary-100) var(--padding-secondary-300);
  border-radius: var(--border-radius-200);
  background: var(--color-warning-300);
}

.register__errorMessage {
  color: var(--color-danger-900);
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-600);
  padding: var(--padding-secondary-100) var(--padding-secondary-300);
  border-radius: var(--border-radius-200);
  background: var(--color-danger-300);
}

.userInfo__formContainer,
.accountPlan__formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.register__ctaButton {
  width: 100%;
  padding: var(--padding-secondary-400) var(--padding-secondary-800);
  color: var(--color-neutral-100);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-150);
  border-radius: var(--border-radius-300);
  background: var(--color-secondary-600);
  transition: all 0.2s linear;
}

.register__ctaButton:hover {
  filter: brightness(1.05);
}

/* User info and Account plan radio buttons and their containers */
.userInfo__radioContainer,
.accountPlan__radioContainer {
  display: flex;
  justify-content: space-around;
}

.userInfo__radioLabel:hover,
.accountPlan__radioLabel:hover {
  background-color: var(--color-primary-hover-300);
}

.userInfo__radioInput,
.accountPlan__radioInput {
  position: fixed;
  opacity: 0;
  width: 0;
  height: 0;
}

/* UserInfo form - Step 1 */
.userInfo__radioLabel {
  display: flex;
  align-items: center;
  border: 2px solid var(--color-primary-hover-500);
  border-radius: var(--border-radius-900);
  padding: var(--padding-secondary-100) var(--padding-secondary-500);
  font-weight: var(--font-weight-600);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.userInfo__radioInput:checked + .userInfo__radioLabel {
  background-color: var(--color-primary-800);
}

/* Email provider inputs */
.userInfo__form,
.accountPlan__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.userInfo__input {
  width: 100%;
  padding: var(--padding-primary-300);
  border-radius: var(--border-radius-300);
  border: none;
  background: var(--color-neutral-600);
  color: var(--color-neutral-100);
  font-size: var(--font-size-150);
  font-weight: var(--font-weight-600);
  letter-spacing: 0.4px;
}

.userInfo__input:focus {
  outline: 1px solid var(--color-neutral-200);
}

.userInfo__input::placeholder {
  color: var(--color-neutral-500);
}

/* AccountPlan form - Step 2 */
.accountPlan__radioLabel {
  display: flex;
  align-items: center;
  border: 2px solid var(--color-primary-hover-500);
  border-radius: var(--border-radius-900);
  padding: var(--padding-secondary-100) var(--padding-secondary-500);
  font-weight: var(--font-weight-600);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.accountPlan__radioInput:checked + .accountPlan__radioLabel {
  background-color: var(--color-primary-800);
}

.accountPlan__buttonContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  margin: var(--margin-secondary-300) auto 0;
}

.accountPlan__detailsHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: var(--margin-secondary-200);
}

.accountPlan__price {
  position: relative;
  color: var(--color-neutral-100);
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-600);
  border-radius: var(--border-radius-200);
  padding: var(--padding-secondary-200) var(--padding-secondary-300);
  background: linear-gradient(to right, #a35f1a, #944305);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.accountPlan__price.isGold {
  background: linear-gradient(to right, #caad05, #c48f09);
}

.accountPlan__price.isPlatinum {
  background: linear-gradient(to right, #c2c1c0, #9aaaaa);
}

/* shining effect animation from left to right */
.accountPlan__price::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  animation: shine 2s 1s infinite;
}

.accountPlan__detailsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.accountPlan__detailsItem {
  color: var(--color-neutral-100);
  font-size: var(--font-size-150);
  font-weight: var(--font-weight-600);
}

.accountPlan__detailsItemTitle {
  background-color: var(--color-neutral-600);
  border-radius: var(--border-radius-900);
  padding: var(--padding-secondary-100) var(--padding-secondary-300);
}

.accountPlan__detailsItemValue {
  margin-left: 5px;
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-200);
}

.accountPlan__backButton {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--color-secondary-300);
  background: var(--color-secondary-700);
  transition: all 0.2s linear;
}

.accountPlan__backButton:hover {
  filter: brightness(1.1);
}

.accountPlan__backIcon {
  color: var(--color-secondary-200);
  width: 21px;
  height: 21px;
}

.accountPlan__ctaButton {
  flex: 1;
  padding: var(--padding-secondary-400) var(--padding-secondary-700);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-150);
  border-radius: var(--border-radius-300);
  background: var(--color-secondary-600);
}

/* Logout */
.userInfo__logoutButton {
  padding: var(--padding-secondary-300) var(--padding-secondary-700);
  border-radius: var(--border-radius-300);
  background: var(--color-danger-800);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-150);
  box-shadow: 0 0 8px var(--color-neutral-800);
  transition: all 0.2s linear;
}
